.create-button {
    border: none;
    border-radius: 20px;
    background-color: royalblue;
    color: white;
    padding: 20px;
    margin: 60px 100px;
    cursor: pointer;
}

.create-button:hover {
    opacity: 0.50;
}

.main-box {
   border-bottom: 1px solid black;
}

.main-box__element {
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}