@import url("./styles/app.css");
@import url("./styles/popup.css");
@import url("./styles/form.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}